nav {
  background: var(--primary);
  color: white;
  .logo {
    font-size: 18px;
    font-weight: 700;
  }
}

ul  {
  li {
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    margin-right: 10px;
    &:hover {
      background: var(--secondary);
    }
    transition: background-color 0.4s;
  }
}
